In [1]:
import numpy as np
import pandas as pd

In [8]:
df11 = pd.read_csv("data_chris/trial_1_group_1.csv")
df12 = pd.read_csv("data_chris/trial_1_group_2.csv")
df21 = pd.read_csv("data_chris/trial_2_group_1.csv")
df22 = pd.read_csv("data_chris/trial_2_group_2.csv")
df31 = pd.read_csv("data_chris/trial_3_group_1.csv")
df32 = pd.read_csv("data_chris/trial_3_group_2.csv")

In [16]:
(df11["N01"] == 12).sum() / len(df11["N01"])

0.019357142857142857

In [7]:
def check_null(series):
    null_percent = (series == 12).sum() / len(series)

,N01,N02,N03,N04,N05,N06,N07,N08,N09,N10,N11,N12,N13,N14,N15,N16
0,11,11,4,3,3,1,11,1,2,2,3,5,3,8,11,2
1,11,11,4,3,1,1,11,4,2,2,1,12,5,11,11,2
2,11,11,4,3,1,1,11,2,2,2,3,12,3,11,11,2
3,11,11,4,3,4,1,11,11,2,2,1,5,3,11,11,2
4,11,11,4,3,4,1,11,11,2,1,3,5,3,11,11,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13995,11,11,11,12,12,12,12,11,11,2,11,12,12,12,11,12
13996,11,11,11,12,12,12,12,11,11,2,11,12,12,12,11,12
13997,11,11,11,12,12,12,12,11,9,2,11,12,12,11,11,7
13998,11,11,11,12,12,12,9,11,9,2,11,12,12,11,11,12
13999,11,11,11,12,12,12,12,11,9,2,12,12,12,10,11,12